@import "utils";
@import "fonts";
@import "typography";
//every style
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }
}

//useful font style classes
.text-normal {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: black;
}

.text-light {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: black;
}

.text-medium {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: black;
}
// header start
header {
  scroll-behavior: smooth;
}

.header-menu {
  position: relative;
  width: auto;
  height: 72px;
  @include center-position_flex;
  justify-content: space-around;
  box-shadow: 0 0 16px rgba(38, 38, 38, 0.16);
  background-color: #fff;
}

.uber-logo {
  z-index: 1;
  margin: 30px 3% 30px 0 ;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.header-logo {
  width: 120px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    & {
      width: 100px;
    }
  }
}

.when-and-where {
  @include center-position_flex;
  margin-right: 10%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      display: none;
    }
  }
}

.when {
  @include center-position_flex;
  @include input-form;
  @include placeholder-decoration;
  width: 65px;
}

.to {
  margin: auto 10px;
  color: #626262;
  font-size: 16px;
}

.on-time {
  border: 0;
  outline: none;
  width: 41px;
}

.where {
  position: relative;
  display: flex;
  min-width: 290px;
  align-items: flex-start;
  @include center-position_flex;
  @include input-form;
  @include placeholder-decoration;
  img {
    margin: auto 12px;
    width: 12px;
  }
  input {
    border: 0;
    outline: none;
    width: 100%;
    margin-right: 36px;
  }
  @media screen and (min-width: 320px) and (max-width:1023px) {
    & {
      min-width: 215px;
    }
  }
}

.buttons-and-basket {
  @include center-position_flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  button {
    @include center-position_flex;
    @include button-style;
    transition: all 0.7s ease;
    @media screen and (min-width: 320px) and (max-width: 1023px) {
      & {
        margin-right: 2%;
        width: 70px;
      }
    }
  }
}

.basket {
  width: 40px;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      display: none;
    }
  }
}

.sign-in {
  background-color: #fff;
  color: black;
  &:hover {
    background-color: black;
  }
}

.registration {
  background-color: black;
  color: white;
  &:hover {
    background-color: #fff;
  }
}

.mobile-when-and-where {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      display: flex;
      width: 98%;
      margin: 40px auto;
      justify-content: center;
      min-width: 300px;
    }
    .when {
      margin-right: 15px;
    }
  }
}

.label {
  margin-bottom: 8px;
  color: #626262;
  font-size: 11px;
}

.where-form_mobile {
  width: 100%;
}

.header-block {
  width: 85%;
  position: relative;
  height: 100%;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    & {
      width: 98%;
    }
  }
}
//start main-styles
main {
  width: auto;
  z-index: 0;
  scroll-behavior: smooth;
}

.search-form {
  z-index: 0;
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
  width: 85%;
  height: 50px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    & {
      width: 98%;
      min-width: 300px;
    }
  }
}

.search-form__label {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  @include center-position_flex;
  width: 100% ;
  border-bottom: 1px solid #757575;
  transition: all 0.6s ease;
  &:hover {
    box-shadow: 0 3px 5px rgba(61, 78, 97, 0.2);
  }
}

.search-form__input {
  @include placeholder-decoration;
  margin-right: 25px;
  width: 100%;
  height: 90%;
  outline: none;
  padding-left: 10px;
  border: 0;
  font-size: 16px;
}

.search-form_logo {
  width: 15px;
  margin: 0 auto;
}

.headline {
  margin: 55px auto 20px ;
  font-size: 22px;
  width: 85%;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    & {
      width: 98%;
      min-width: 300px;
    }
  }
}

.card-list {
  margin: 15px auto 0;
  width: 85%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(300px, 550px));
  grid-template-rows: repeat(3, minmax(400px, 1fr));
  grid-gap: 15px;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      width: 98%;
      grid-template-columns: repeat(1, minmax(300px,98%));
      grid-template-rows: repeat(9, minmax(400px,550px));
    }
  }
  @media screen and (min-width: 640px) and (max-width:1023px) {
    & {
      width: 98%;
      grid-template-columns: repeat(2, minmax(45%,1fr));
      grid-template-rows: repeat(5, minmax(400px,500px));
    }
  }
}

.card {
  display: flex;
  transition: all 0.6s ease;
  &:hover {
    box-shadow: 0 5px 10px rgba(61, 78, 97, 0.2);
    transform: translateY(-20px);
  }
  a {
    position: relative;
    display: flex;
    width: 100%;
  }
}

.restaurant-photo {
  position: absolute;
  height: 70%;
  width: 100%;
}

.info-box {
  margin: 15px 0;
  position: absolute;
  width: 100%;
  height: 30%;
  align-self: flex-end;
  p {
    margin: 5px 0;
  }
}

.restaurant-name {
  line-height: 24px;
  font-size: 16px;
}

.describe,
.delivery-time {
  line-height: 21px;
}

.describe {
  white-space: nowrap;
  font-size: 14px;
  color: #626262;
}

.delivery-time {
  font-size: 13px;
}
// footer
.footer {
  z-index: 0;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-logo {
  width: 190px;
}

.uber-logo_white {
  cursor: pointer;
  margin: 40px auto 40px 8.25%;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    & {
      margin-left: 2%;
    }
  }
}

.line {
  opacity: 0.4;
  background-color: #fff;
  height: 1px;
  width: 83.5%;
  border: 0;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    & {
      width: 98%;
    }
  }
}

.footer-menu {
  scroll-behavior: smooth;
  position: relative;
  width: 85%;
  height: 185px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 35px auto auto;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      flex-direction: column;
      align-items: flex-start;
      min-height: 490px;
      width: 98%;
      .footer-block {
        width: 100%;
      }
      div {
        margin-right: 0;
      }
      .footer-menu_first {
        margin-top: 40px;
      }
    }
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    & {
      width: 98%;
    }
  }
}

.footer-block {
  width: 33%;
  margin-right: 40px;
}

.language-and-networks {
  display: flex;
  flex-direction: column;
}

.lang-form {
  min-width: 170px;
  width: 80%;
  height: 40px;
  @include drop-down_list;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b3b3b;
  margin-bottom: 30px;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      width: 50%;
    }
  }
}

.global {
  position: absolute;
  margin: auto 10px;
  top: 0;
  left: 0;
  bottom: 0;
}

.arrow {
  width: 14px;
  position: absolute;
  margin: auto 5px;
  top: 0;
  right: 0;
  bottom: 0;
}

.footer-list {
  li {
    margin-bottom: 25px;
  }
}

.footer-link {
  color: white;
  font-size: 13px;
  transition: color 0.4s ease;
  @include hover(color, #49a144);
}

.networks {
  z-index: 0;
}

.hash-uber {
  color: white;
  font-size: 16px;
  margin-bottom: 25px;
  text-align: left;
  height: 16px;
  span {
    color: #49a144;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      width: 50%;
    }
  }
}

.network-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  @include social-hover;
  h4 {
    padding-right: 10px;
  }
}

.mobile-link_menu {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-mobile_app {
  margin-right: 5%;
  border: 0;
  padding: 0;
  background-color: #262626;
  transition: all 0.8s ease;
  &:hover {
    box-shadow: 0 5px 10px rgba(61, 78, 97, 0.2);
    transform: translateY(-10px);
  }
}

.rules-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 90px;
  margin: 40px 0 40px 8.25%;
  flex-basis: 80%;
  li {
    width: 30%;
    color: white;
    font-size: 11px;
    white-space: nowrap;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    & {
      flex-direction: column ;
      justify-content: space-around;
      align-items: flex-start;
      margin-left: 2%;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    & {
      margin-left: 2%;
      justify-content: space-between;
    }
  }
}

.to-start-of-page {
  background-color: #59bd5a;
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 80px;
  bottom: 3%;
  right: 3%;
  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.footer-rules {
  display: flex;
}

.arrow-footer {
  height: 25px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
